{% extends 'base.html' %}

 
{%block content%}

{% if user.is_authenticated%}
<h1>Hello World</h1>
<form method="POST" action="">
<button type="submit">Logout </button>
</form>
{% else %}
<div class="col-md-6 offset-md-3">
  <h1>Login</h1>
  <br/>
  <form method="POST" action="{% url 'home'%}">
    {% csrf_token %}
    
    <div class="mb-3">
      <input type="text" name="username" placeholder="Your Username" class="form-control" required>
    </div>
    <br/>
    <div class="mb-3">
      <input type="password" name="password" placeholder="Password" class="form-control" required >
    </div>
    <br/>
    <button type="submit" class="btn btn-secondary">Login</button>
    
    
  </form>
</div>
{%endif%}
{%endblock%}